body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.question-container {
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 10vh;
  font-size: x-large;
  text-align: center;
}
.result, .result-title, .result-description {
  margin: 10px;
  padding: 5px;
  width: 80vw;
  height: 10vh;
  text-align: center;
  font-size: 50px;
  color: black;
}
.result-title {
  font-size: 25px;
}
.result-description {
  font-size: 18px;
  height: auto;
  margin-bottom: 100px;
}
.option-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  width: 80vw;
}
.option {
  padding: 10px;
  width: 100%;
  height: auto;
  font-size: larger;
  background-color: lightgrey;
  margin-bottom: 5px;
}
.option-active {
  background-color: lightskyblue;
}
.navigation {
  width: 80vw;
  height: 10vh;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.next {
  width: 30vw;
  height: 8vh;
  padding: 5px;
  font-size: larger;
}
.next-active {
  background-color: gold;
}
